<% include ../header.ejs %>

<style>
    .btn {
        position: relative;
        margin-left: 1rem;
        margin-top: 1rem;
    }
</style>
<div class="container show-grid">
    <form id="uploadForm" method="post" enctype="multipart/form-data" action="">
        <div class="col-md-6 container-fluid" style="float:left;">
            <p>
                <img id="blah" class="img-fluid img-thumbnail" src="/images/default.jpg"
                     name="thumbnail"
                     style="width: 100%; height: 400px;">
            </p>

        </div>
        <div class="col-md-6">
            딥러닝으로 도출된 정답 ↓
            <textarea class="form-control" name="answer" id="answer" rows="3"
                      style="border:2px solid deepskyblue;font-size: 200%;
                      margin-top:10px;padding-left: 20px; padding-top: 10px;" value="<%=image.answer%>"></textarea>

            이미지에 대한 설명을 작성해보세요 ↓
            <textarea class="form-control" name="user_answer" id="" rows="3"
                      style="border:2px solid lightpink;font-size: 200%;
                      margin-top:10px;padding-left: 20px; padding-top: 10px" value="<%=image.user_answer%>"></textarea>
            <br>
            <div style="float:right">
                <label class="btn btn-primary btn-file">
                    이미지추가 <input type="file" id="imgInput" name="thumbnail" style="display: none;">
                    <% if(image.thumbnail){ %>
                    <a href="/uploads/<%=image.thumbnail %>"
                       target="_blank">업로드 이미지 보기</a>
                    <% } %>
                </label>
                <button class="btn btn-success" id="trans">전송</button>
                <button class="btn btn-warning" id="hint">힌트더보기</button>
                <button class="btn btn-danger" id="all">전체보기</button>
                <!--<button class="btn btn-info" style="margin-left:10px" id="save">저장</button>-->
                <input type="submit" name="submit" value="저장" class="btn btn-default btn-info"
                       onclick="return confirm('저장하시겠습니까?')">
            </div>
        </div>
    </form>
    <br>
</div>
<script type="text/javascript">

    $(function () {
        $("#imgInput").on('change', function () {
            readURL(this);
        });
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<script>
    $(document).ready(function () {
        $('#trans').click(function () {
            // fileUpload();
            upload(0);
            return false;
        });
    });

    function upload(i) {
        let files = $('#imgInput')[0].files;
        let file = files[i];
        $.ajax({
            // if 다른 기기에서 전송한다면 이 주소로 전송!
            url: '/learn/api/photo',
            data: file,
            type: 'POST',
            processData: false,
            contentType: false,
            success: function (wow) {
                $('#answer').val(wow.before);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }


</script>
<script>
    let cnt = 0;
    $(document).ready(function () {
        $('#hint').click(function () {
            if (cnt === 0) {
                cnt = cnt + 1;
                hint1();
            } else if (cnt === 1) {
                cnt = cnt + 1;
                hint2();
            } else if (cnt === 2) {
                cnt = cnt + 1;
                hint3();
            } else if (cnt >= 3) {
                alert('힌트 더보기가 끝나버렸습니다.\n전체보기 버튼을 눌러주세요');
            }
            return false;
        })
    });

    function hint1() {
        $.ajax({
            url: '/learn/api/hint',
            // data: ,
            type: 'GET',
            success: function (data) {
                $('#answer').val(data.hint1);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function hint2() {
        $.ajax({
            url: '/learn/api/hint',
            // data: ,
            type: 'GET',
            success: function (data) {
                $('#answer').val(data.hint2);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function hint3() {
        $.ajax({
            url: '/learn/api/hint',
            // data: ,
            type: 'GET',
            success: function (data) {
                $('#answer').val(data.hint3);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
</script>
<script>
    $(document).ready(function () {
        $('#all').click(function () {
            seeAll();
            return false;
        })
    });

    function seeAll() {
        $.ajax({
            url: '/learn/api/all',
            type: 'GET',
            success: function (data) {
                $('#answer').val(data.fullStr);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
</script>

<% include ../footer.ejs %>