<% include ./header.ejs %>

<div class="container show-grid">
    <div class="col-md-6" style="width: 50%; float:left;">
        <%# if(product.thumbnail){%>
        <p>
            <img src="/uploads/1.jpg" style="max-width:100%;">
        </p>
        <%# } %>
    </div>
    <div class="col-md-6">
        머신러닝으로 도출된 정답
        <textarea class="form-control" name="" id="result" rows="6"
                  style="border:2px solid deepskyblue;
                  margin-top:10px;">

        </textarea>
        입력
        <textarea class="form-control" name="" id="" rows="6"
                  style="border:2px solid mediumpurple;
                  margin-top:10px;">
        </textarea>
    </div>
</div>
<br>
<form id="uploadForm">
    <label class="btn btn-primary btn-file">
        파일추가 <input type="file" id="imgInput" name="userPhoto" style="display: none;">
    </label>
    <input type="submit" name="submit" value="전송" class="btn btn-default btn-submit">
</form>
<br>


<script>
    $(document).ready(function () {
        $('#uploadForm').submit(function () {
            fileUpload();
            return false;
        });
    });

    function fileUpload() {
        let files = $('#imgInput')[0].files;
        upload(0);

        function upload(i) {
            let file = files[i];
            $.ajax({
                // 만약 다른 기기에서 전송한다면 이 주소로 전송!
                url: '/learn/api/photo',
                data: file,
                type: 'POST',
                processData: false,
                contentType: false,
                success: function (data) {
                    $('#result').text(data);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    }
</script>

<% include ./footer.ejs %>