@font-face {
    font-family: 'musictime';
    src: url("../fonts/musictime.ttf");
}
.container-fluid{
    font-family: musictime;
}
.navbar-nav {
    padding-left: 80px;
}
.menu {
    padding-left: 60px;
}